html body{
    font-family: 'Montserrat', sans-serif;
    background: #fefbf1;
}
img{
    width: auto;
    height: auto;
    max-width: 60%;

}
.for_page{
    /* background-image: url(../img/royal_crown/bg_royal.jpg); */
    background-size: cover;
    color: black;
    text-align: center;
}

.header h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    color: rgb(64, 64, 151);
}

.block{
    padding-bottom: 80px;
}
.block h4{
    color: rgb(64, 64, 151);
}

.picture img{
    border: 2px solid rgb(64, 64, 151);
    box-shadow: 15px 15px 15px  rgb(64, 64, 151);
}
.discription{
    padding-top: 30px;
    text-align: center;
}