html body{
    font-family: 'Montserrat', sans-serif;
    background: #fefbf1;
}
img{
    width: auto;
    height: auto;
    max-width: 75%;
    /* border-radius: 50%; */
}
.for_page{
    /* background-image: url(../img/royal_crown/bg_royal.jpg); */
    background-size: cover;
    color: rgb(78, 68, 14);

}

.header h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

.block{
    padding-bottom: 40px;
}
.block h4{
    color: rgb(185, 178, 108);
}
.picture img{
    border: 2px solid rgb(185, 178, 108);
    box-shadow: 0px 0px 20px  rgb(185, 178, 108);
}
.discription{
    padding-top: 0px;
}
