html body{
    font-family: 'Montserrat', sans-serif;
    background: #fefbf1;
}
img{
    width: auto;
    height: auto;
    max-width: 60%;
    border-radius: 50%;
}
.for_page{
    color: rgb(12, 12, 11);
}

.header h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}
.block{
    padding-bottom: 40px;
}
.picture img{
    border: 2px solid black;
    box-shadow: 0px 0px 20px  black;
}